{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block css %}/static/css/index.css{% endblock css %}
{% block body %}
<div class="landpagemaindiv">
    <p class="landpagetoppara"><br>
    <h1>LOOKING FOR HOSPITALS?</h1><br>
    Talk to our doctors to get your doubt cleared &nbsp;&nbsp; <a href="tel:+918168370064" class="calllink"><button
            class="callbutton">&#128222 Talk to us</button></a><br><br><br>
    <h2 style="color:auto;padding:2px;background-color:transparent;">India's most trusted network of high quality
        hospitals.</h2>
    <h3>The best doctors, medical care is available for you in your city.</h3>
    <div class="landpage3div">
        <p class="div3first">&#128719;<br><br>500+<br>BEDS</p>
        <p class="div3second">&#127973;<br><br>15+<br>HOSPITALS</p>
        <p class="div3third">&#x1F464;<br><br>90k<br>HAPPY COUSTOMERS</p>
    </div><br>
    <a href="/newappointment" class="appbut"><button class="newappointmentbut">BOOK APPOINTMENT NOW</button></a><br><br>
    <p class="ambulancepara">
        Emergency? Call An Ambulance<br>
        Get an ambulance 24x7<br>
        <a href="tel:32183" class="calllink"><button class="callbutton">&#128222 Call Now</button></a>
    </p>
    </p><br>
</div><br><br>
<div class="doctordiv">
    <div class="doctorpara"><br><img src="/media/himank.jpeg" class="doctorimg"><br><b><a class="doclink"
                href="/doctor/Dr_Himank_Yadav"><text style="font-size:x-large;">Dr. Himank
                    Yadav</text></a></b><br>M.B.B.S. <br>10+years experience</div>
    <div class="doctorpara"><br><img src="/media/nandini.jpeg" class="doctorimg"><br><b><a class="doclink"
                href="/doctor/Dr_Nandini_Khurana"><text style="font-size:x-large;">Dr. Nandini
                    Khurana</text></a></b><br>M.B.B.S. <br>9+years experience</div>
    <div class="doctorpara"><br><img src="/media/suraj.jpeg" class="doctorimg"><br><b><a class="doclink"
                href="/doctor/Dr_Suraj_Rana"><text style="font-size:x-large;">Dr. Suraj
                    Rana</text></a></b><br>B.Pharmacy <br>15+ years experience</div>
    <div class="doctorpara"><br><img src="/media/khushi.jpeg" class="doctorimg"><br><b><a class="doclink"
                href="doctor/Dr_Khushi_Sangal"><text style="font-size:x-large;">Dr. Khushi
                    Sangal</text></a></b><br>B.S.N. <br>8+ years experience</div>
    <div class="doctorpara"><br><img src="/media/sagar.jpeg" class="doctorimg"><br><b><a class="doclink"
                href="/doctor/Dr_Sagar_Dandapat"><text style="font-size:x-large;">Dr. Sagar
                    Dandapat</text></a></b><br>B.A.M.S. <br>14+ years experience</div>
</div>
{% endblock body %}