{% extends page %}
{% block title %}Services{% endblock title %}
{% block css %}/static/css/service.css{% endblock css %}
{% block body %}
<div class="introductiondiv">
    <div class="leftdiv1"><img class="imgofintro" src="/media/hospitalbed.jpg" alt="any"></div>
    <div class="rightdiv1"  ><h2>Ward Facilities:</h2>We have ward allotment for patients suffering from severe illness and injuries. This enables care givers to monitor health conditions continuously and thereby, accurate treatment procedures can be opted for.</div>
</div><br>
<div class="introductiondiv">
    <div class="leftdiv2"  ><h2>Nursing:</h2>Nurses are employed in different departments within hospitals. Specialised hospitals hire trained nurses who are technically sound to perform advanced tasks relevant to diagnosis, treatment and care of sick ones.</div>
    <div class="rightdiv2"><img class="imgofintro" src="/media/nurse.jpeg" alt="any"></div>
</div><br>
<div class="introductiondiv">
    <div class="leftdiv1"  ><img class="imgofintro" src="/media/doctorcare.jpeg" alt="any"></div>
    <div class="rightdiv1"  ><h2>Out patient Department (OPD):</h2>Doctors prescribe medicines or diagnostic tests to evaluate patient's health condition. They are also required to be available for follow up visits to monitor conditions and treatment procedures. Depending on the response, patients are either asked for admission or specialized services such as surgeries.</div>
</div><br>
<div class="introductiondiv">
    <div class="leftdiv2"  ><h2>Intensive Care Unit(ICU):</h2>For patients suffering from adverse health conditions we ICUs equipped with modern technical apparatus and skilled professionals who can render best services.</div>
    <div class="rightdiv2"  ><img class="imgofintro" src="/media/icu.jpeg" alt="any"></div>
</div><br>
<div class="introductiondiv">
    <div class="leftdiv1"  ><img class="imgofintro" src="/media/pharmacy.jpeg" alt="any"></div>
    <div class="rightdiv1"  > <h2>Pharmacy and Diagnosis:</h2>This is a very important segment as easy and quick availability of medicines and other equipment required for treatment procedure is vital to render best healing services.</div>
</div>


{% endblock body %}